<div>
  <h2>HUB 1</h2>
  <widget-state-selector [id]="100" [type]="1" [values]="[1,2,3,4]" [connectionId]="1"></widget-state-selector>
  <widget-textbox [id]="200" [type]="1" [connectionId]="1"></widget-textbox>
  <widget-state-selector [id]="101" [type]="1" [values]="[1,2,3,4]" [connectionId]="1"></widget-state-selector>
</div>
  <div>
  <h2>HUB 2</h2>
  <widget-state-selector [id]="101" [type]="2" [values]="[1,2,3,4]" [connectionId]="2"></widget-state-selector>
  <widget-textbox [id]="201" [type]="2" [connectionId]="2"></widget-textbox>
  <widget-textbox [id]="202" [type]="2" [connectionId]="2"></widget-textbox>
</div>